a {
    font-family: Courier;
    color: green;
}

h1 {
  font-family: Fantasy;
  text-decoration: overline;
  color:green
}

p {
  font-family: "Lucida Console", Monaco;
  color:rgb(158, 70, 36);
}
h3 {
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: rgb(34, 58, 94);

}
body {
  background-color:rgb(210, 143, 96);
  
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(210, 143, 96);
  color: white;
  text-align: center;
}

img {
  
  width:200px;
}
